{% extends "bootstrap/base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block styles %}
{{super()}}

<link rel="stylesheet" href="{{url_for('static', filename='css/dashboard.css')}}">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Stoque</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
          <h1 class="page-header">Welcome, {{ name }}!</h1>
        </div>
      </div>
    <p>
      <h2>Net worth: ${{net_worth}}</h2>
    </p>
    <p>
      <h3>Product catalog:</h3>
    </p>
    <table class="table">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Profit</th>
        <th scope="col">Buying Price</th>
        <th scope="col">Selling Price</th>
      </tr>
      {% for product in products %}
      <tr>
        <td>{{ product['name'] }}</td>
        <td>{{ product['quantity'] }}</td>
        <td>{{ product['sell_price'] - product['buy_price']}}</td>
        <td>{{ product['buy_price']}}</td>
        <td>{{ product['sell_price']}}</td>
      </tr>
      {% endfor %}
    </table>

{% endblock %}
